.LocationWrapper {
  margin: 1rem;
}

.labelInputWrapper input {
  margin: 1rem;
  border-bottom: 1px solid gray;
}

.LocationBtn {
  margin: 1rem;
  border: 1px solid black;
  padding: 0.3rem;
  border-radius: 4px;
}

.LocationBtn:hover{
  background-color:#285b53;
  transition: .4s;
  color: white;
  cursor: pointer;
}
section .labelInputWrapper,
.priority-flag-wrapper {
  display: flex;
  flex-direction: column;
}
section .labelInputWrapper input {
  margin-top: 2px;
}
section.report-complaint {
  max-width: 400px;
}
.priority-flag-wrapper > label {
  margin: 0 1rem 1rem 1rem;
}

.priority-flag-wrapper button {
  margin: 0 1rem;
  padding: 6px 10px;
}

.priority-buttons {
  display: flex;
}

.priority-buttons button {
  flex-basis: 100%;
  color: white;
  font-weight: bold;
  border-radius: 2px;
}

.priority-buttons .emergency {
  background: #ff3333;
  border: 2px solid #ff3333;
}
.priority-buttons .emergency:hover{
  background: white;
  transition: .4s;
  color: #ff3333;
}

.priority-buttons .high {
  background: #deb141;
  border: 2px solid #deb141;
}

.priority-buttons .high:hover{
  background: white;
  transition: .4s;
  color: #deb141;
}

.priority-buttons .moderate {
  background: #285b53;
  border: 2px solid #285b53;
}

.priority-buttons .moderate:hover{
  background: white;
  transition: .4s;
  color: #285b53;
}

.submit > button {
  display: block;
  width: 91%;
  padding: 10px;
  margin: 1rem;
  background-color: #285b53;
  color: white;
  font-weight: bold;
}

.submit > button:hover{
  
}
