html{
    margin: 0;
    padding: 0;
}
.profile-user{
    /* background-color: aquamarine; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px;
    max-width: 1200px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: hidden;
}

/* ================================ */

.userInfoContainer{
    background-color: rgba(232, 200, 122, 0.4);
    border: 5px solid #deb141;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    /* width: 40vh; */
}
.userInfoContainer form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headerContainer{
    /* background-color: aqua; */
    text-align: center;
    align-content: center;
    padding: 25px;
}
.formDetails{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    /* margin: 20px; */
}
.userImage{
    /* background-image: url(../../images/User_Profile_Image.png); */
    display:  block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100px;
}
.formWrapper h3{
    padding: 5px 20px;
    margin-top: 40px;
}
.labelInputWrapper input{
    background-color: rgba(232, 200, 122, 0);
    border: 0;
    border-bottom: 1px solid black !important;
    display: flex;
}
.containerInfoWrapper h4{
    margin: 5px 20px;
}
.UserUpdateBtn{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
}
.labelInputWrapper{
    margin: 10px 5px;
}
.basicInfoWrapper h4{
    margin: 30px 20px;
}

.security h4{
    margin: 30px 20px;
    display: flex;
}
.UserUpdateBtn input{
    background-color: #deb141;
    padding: 20px 100px;
    font-weight: bold;
}

/* ===========Rewards========================= */

.userRewardsContainer{
    background-color: rgba(105, 140, 135, .5);
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    /* width: 80vh; */
    border:  5px solid #285b53;
}
.rewardsHeading{
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* text-align: center; */
}
.rewardsChart{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    /* margin: 0 50px; */
    padding: 20px 20px;

}
.userChart{
    align-items: center;
    width: 100%;
    padding: 20px;
}
.RewardsInfo a{
    text-decoration: none;
    display: block;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 60px;
    background-color: #285b53;
    padding: 20px 50px;
}

/* =============Report=========================== */

.userReportContainer{
    background-color: rgba(105, 140, 135, .5);
    border:  5px solid #285b53;
    display: grid;
    grid-column-start: 3;
    grid-row-start: 2;
}
.userReportContainer h3{
    /* text-align: center; */
    display: inline-block;
    /* background-color: aqua; */
    text-align: center;
    padding-top: 15px;
    height: 5vh;
}
.CasesContainer{
    display: flex;
    /* background-color: rgb(231, 118, 118); */
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    /* align-content: center; */
    margin: 20px;
    border-radius: 2px;
    /* padding: 20px 0; */
    height: 30vh;
}
.CasesContainer p{
    text-align: center;
}
.report-btn p{
    text-align: right;
    /* margin: 0 20px; */
    font-weight: bold;
    padding-left: 10px;
    /* padding-top: 20px; */
    
}

/* ===============WishList=========================== */

.wishlistEvents{
    background-color: rgba(232, 200, 122, 0.4);
    border: 5px solid #deb141;
    display: grid;
    grid-column-start: 2;
    grid-row-start: 2;

}
.wishlistEvents h3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.eventContainer{
    display: flex;
    flex-direction: column;
}
.eventWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border: 2px solid #deb141;
    border-radius: 2px;
    /* padding: 20px 0; */


}
.eventWrapper img{
    width: 60px;
    height: 100%;
    /* margin: auto; */

}
.eventContainer p{
    font-weight: bold;
    padding-left: 10px;
}
.wish-btn{
    margin-top: 20px;
}
.wish-btn p{
    text-align: right;
    margin: 0 20px;
    /* padding-top: 20px; */
    
}