html {
    margin: 0;
    padding: 0;
    
}

/* .card{
   display: flex;
}  */
.card-body{
    background-color: gray;
    border-radius: 0.5rem;
    padding-bottom: 1rem;
    margin: 10px;
}

.event-ngo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
}
.event-form{
    padding: 20px;
}

.slider{
    margin: 0;
    padding: 0;
    width: 100%;
    /* height: 500px; */
    height:100vh ;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slides{
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr;

    
}
.slides input{
    display: none;
}

.slide{
    /* width: 1000px; */
    transition: 1s;
    
}
.slide-div{
    display: flex;
    transition: 1s;
    overflow: hidden;
}
/* for manual slide navigation */
.navigation-manual{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    /* margin-top: -40px; */
   
}
.manual-btn{
    border: 2px solid rgb(9, 236, 9);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: yellowgreen;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -100%;
}
#radio3:checked ~ .first{
    margin-left: -200%;
}
#radio2:checked ~ .second{
    margin-left: -100%;
}
#radio3:checked ~ .second{
    margin-left: -200%;
}
#radio3:checked ~ .third{
    margin-left: -200%;
}
/* #radio1:checked ~ .second{
    margin-left: -100%;
} */
/* #radio2:checked ~ .second{
    margin-left: -100%;
}
#radio3:checked ~ .second{
    margin-left: -400%;
} */
/* #radio4:checked ~ .first{
    margin-left: -600%;
} */
#radio5:checked ~ .first{
    margin-left: 0;
}
#radio6:checked ~ .first{
    margin-left: -100%;
}
#radio7:checked ~ .first{
    margin-left: -200%;
}
/* #radio8:checked ~ .first{
    margin-left: -300%;
} */

.navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    /* margin-top: 0px; */
}

.navigation-auto div{
    border: 2px solid rgb(9, 236, 9);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: blue;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: blue;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: blue;
}
/* #radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: blue;
} */
#radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: blue;
}
#radio6:checked ~ .navigation-auto .auto-btn6{
    background-color: blue;
}
#radio7:checked ~ .navigation-auto .auto-btn7{
    background-color: blue;
}
/* #radio8:checked ~ .navigation-auto .auto-btn8{
    background-color: blue;
} */