.labelInputWrapper label,
.labelInputWrapper input {
  margin: 1rem;
  border: 0;
}

.login-page-container {
  max-height: 100vh;
  height: calc(100vh - 80px);
}
.login-page {
  margin: auto;
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  /* grid-template-rows: ; */
  /* justify-items: center; */
  /* align-items: center; */
}

.login-bg {
  grid-row: 1/3;
  position: relative;
}
.inputPasswordIconWrapper {
  position: relative;
}
.inputPasswordIconWrapper input {
  width: 90%;
}
.passwordIcon {
  position: absolute;
  right: 22px;
  top: 8px;
}

.form-wrapper {
  /* max-width: 400px; */
  /* display: flex; */
  margin: 3rem auto;
  grid-column: 2/3;
  width: 350px;
  max-height: 450px;
  border: 2px solid #deb141;
  background: #f8f8f8;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form-wrapper h2 {
  text-transform: uppercase;
  color: var(--primary-color);
}

.login-page .labelInputWrapper {
  display: flex;
  flex-direction: column;
}
.login-page .labelInputWrapper input {
  background: rgba(40, 91, 83, 0.2);
  border: 1px solid #285b53;
  border-radius: 6px;
  padding: 7px;
  margin: 0 1rem;
}
.login-page .labelInputWrapper p {
  text-align: end;
  font-size: 0.825rem;
  margin: 1rem;
  font-weight: bold;
}
.SubmitBtnWrapper button {
  padding: 10px;
  background: #deb141;
  font-weight: bold;
  text-transform: uppercase;
}
.SubmitBtnWrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  /* align-items: stretch; */
}
.box-footer {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.login-footer {
  grid-column: 2/3;
  color: #285b53;
  margin: 1rem 2rem;
}
.login-footer h3 {
  text-align: center;
}
.login-footer span {
  color: #c1bfbf;
}

.login-page img.leftCornerBg {
  position: absolute;
  width: 250px;
  left: 0%;
  top: 0%;
}
.login-page img.rightCornerBg {
  position: absolute;
  /* width: 400ox; */
  width: 250px;
  bottom: 0;
  right: 0%;
}

.login-page .login-bg-img {
  width: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*  for Mobile browsers */

@media screen and (max-width: 768px) {
  .login-page {
    grid-template-columns: 1fr;
  }
  .login-bg {
    grid-row: 3/4;
    grid-column: 1/3;
    position: unset;
  }
  .form-wrapper {
    grid-row: 2/3;
    grid-column: 1/3;
    margin: 1rem auto;
  }
  .login-footer {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  .login-page img.leftCornerBg {
    width: 100px;
  }
  .login-page img.rightCornerBg {
    width: 100px;
  }
  .login-page .login-bg-img {
    width: 142px;
    position: absolute;
    left: 50%;
    left: 0;
    top: unset;
    transform: translate(0%, -20%);
  }
}
