.labelInputWrapper label,
.labelInputWrapper input {
  margin: 1rem;
  border: 0;
}

.login-page {
  
  margin: auto;
  position: relative;
  height: 100%;
}

.login-bg img {
  max-height: 100vh;
  width: auto;
 
  /* max-width: 1000px; */
}

.login-bg{
  background: url(../../components/project-files/Login-Bg-image.png);
  height: 600px;
  background-position: left;
  background-size: 50%;
  background-repeat: no-repeat;
}
.form-wrapper {
  position: absolute;
  /* max-width: 400px; */
  min-width: 350px;
  top: 45%;
  right: 10%;
  border: 2px solid #deb141;
  background: #f8f8f8;
  transform: translateY(-50%);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form-wrapper h2 {
  text-transform: uppercase;
  color: var(--primary-color);
}

.labelInputWrapper {
  display: flex;
  flex-direction: column;
}
.labelInputWrapper input {
  background: rgba(40, 91, 83, 0.2);
  border: 1px solid #285b53;
  border-radius: 6px;
  padding: 7px;
  margin: 0 1rem;
}
.labelInputWrapper p{
  text-align: end;
  font-size: .825rem;
  margin: 1rem;
}
.SubmitBtnWrapper button{
  padding: 10px;
  background: #DEB141;
  font-weight: bold;
  text-transform: uppercase;
}
.SubmitBtnWrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  /* align-items: stretch; */
}
.box-footer {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  margin-bottom: 1.5rem;

}

.login-footer{
  color: #285b53;
}
.login-footer h3{
  position: absolute;
  right:10%;
  bottom: 2%;
  transform: translateX(-30%);
}

.login-footer span{
  color: #C1BFBF;
}
.sign-up .form-wrapper p{
  text-align: center;
  font-size: .85rem;
  font-weight: bold;
}