.PopUpContainer,
.OverlayShadow {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.OverlayShadow {
  background: rgba(49, 49, 49, 0.8);
}

.PopUpContent {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.5;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}
