* {
  margin: 0;
  padding: 0;
}

.Animated-dropdown {
  position: relative;
  /* width: 150px; */
  width: auto;
  /* margin: 100px auto; */
  user-select: none;
}

.Animated-dropdown .dropdown-btn {
  padding: 15px;
  background-color: white;
  /* box-shadow: 10px 10px 50px #aaaaaa; */
  color: black;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.Animated-dropdown .dropdown-btn span{
  white-space: nowrap;
}

#active{
    box-shadow: 10px 10px 50px #aaaaaa;
}

.Animated-dropdown .dropdown-content {
  position: absolute;
  top: 105%;
  padding: 5px;
  /* margin: 5px; */
  background:  #e8c87a;
  ;
  /* box-shadow: 10px 10px 50px #aaaaaa; */
  font-weight: 500;
  color: black;
  width: 100%;
  z-index: 999;
}

.Animated-dropdown .dropdown-content .dropdown-item {
  padding: 10px;
  margin: 2px 0;
  cursor: pointer;
  transition: 0.4s;
  background-color: #285b53;
  color: white;
}
.Animated-dropdown .dropdown-content .dropdown-item:hover {
  background: #7e7e7efe;
}
