.header-wrapper {
  margin: 0 5%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 1px solid black; */
}
header {
  border-bottom: 1px solid grey;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 15%), 0 6px 20px 0 rgb(0 0 0 / 10%);
}

header img {
  height: 100px;
  width: auto;
}
header .primary-logo {
  flex-basis: 20%;
}
.hamburger {
  display: none;
}

nav ul {
  list-style: none;
  display: flex;
  /* flex-direction: column; */
  padding: 0;
}
header svg {
  margin: 0 5px;
}

@media screen and (max-width: 768px) {
  .feature-subsection2 {
    display: none;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav ul li {
    padding-bottom: 2px;
    border-bottom: 1px solid rgb(180, 177, 177);
  }
  nav {
    width: 100%;
    display: none;
    transition: 0.5s;
  }
  .hamburger {
    display: block;
  }
  .hamburger button {
    padding: 0.5rem;
    border-radius: 4px;
    background-color: var(--primary-button);
    color: white;
  }
  .active {
    display: block;
  }
}

nav a {
  color: black;
  text-decoration: none;
}

nav ul li {
  margin: 1rem;
}
/* nav div{
    display: none;
} */

nav ul .btn-drop {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
nav ul .dropDown-options {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* margin: 1rem 0 ; */
}

nav ul .dropDown:hover .dropDown-options {
  display: block;
}

.dropDown-options,
.dropDown-options > li {
  margin: 0;
}
.dropDown-options > li {
  padding: 1rem;
}

/* user dropdown */

nav ul .user-profile {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

nav ul .nav-dropDown:hover .user-profile {
  display: block;
}
