section.landing {
  position: relative;
  /* background-color: aqua; */
  background: url(../components/project-files/her.svg);
  height: 500px;
  object-fit: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  /* background-repeat:repeat-x; */
}

h4.landing-text {
  width: 600px;
  /* margin: 1rem auto 3rem auto; */
  text-align: center;
  font-size: 1.5rem;
  padding: 8rem 2rem 3rem 2rem;
}

.userChart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  }

.reportCaseContainer {
  width: 600px;
  display: flex;
  justify-content: center;
}

section > button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--secondary-color);
  padding: 0.75rem 1.75rem;
  font-size: 1.25rem;
  font-weight: bold;
}
section.statistics {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
section.statistics > div {
  margin: 2rem;
}
.description p {
  margin: 2rem 0;
}
section.statistics h4,
section.statistics h3 {
  text-align: center;
}

.statCount {
  flex: 1 1 auto;
}

.statCount > h3 > div {
  font-size: 2rem;
}

.charts {
  flex: 1 1 auto;
}

.description {
  position: relative;
  flex: 1 1 50%;
}
.description button#donate {
  position: relative;
  right: 0%;
  padding: 0.8rem 2rem;
  border-radius: 2px;
  background: var(--primary-color);
  color: white;
  border: 2px solid var(--primary-color);
  font-weight: bold;
}

.description button#donate:hover {
  background-color: white;
  transition: 0.4s;
  color: #3e6b64;
}

section.features {
  display: flex;
  align-items: center;
  position: relative;
}

#report-case {
  background-color: var(--secondary-color);
  font-weight: bold;
  padding: 0.8rem 2.5rem;
  text-decoration: none;
  color: black;
  border: 2px solid var(--secondary-color);
}
a#report-case:hover {
  background-color: white;
  transition: 0.3s;
}

section .feature-subsection1 {
  padding: 2rem 1rem;
  flex-basis: 89%;
  border-radius: 0 272.5px 272.5px 0;
  background: var(--primary-color);
  padding-left: 5%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  padding-bottom: 2rem;
  gap: 1rem;
  padding-right: 15%;
}
.feature-subsection1 h2 {
  width: 100%;
  grid-column: 1/-1;
  margin-bottom: 4rem;
  color: #fffcf3;
}
.featurecard {
  background: #fffcf3;
  max-width: 200px;
  padding: 1.7rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.featurecard p {
  text-align: center;
  font-weight: 600;
}
.img-container {
  max-width: 150px;
}
.featurecard > .img-container {
  position: absolute;
}
#card1 > .img-container {
  transform: translateY(-85px);
}
#card2 > .img-container {
  transform: translateY(-105px);
}
#card3 > .img-container {
  z-index: 9;
  transform: translateY(-95px);
}

.feature-subsection2 {
  position: relative;
  transform: rotate(-90deg);
  display: flex;
  align-items: end;
  margin: 0;
}
.feature-subsection2 h4 {
  display: flex;
  font-weight: 400;
  font-size: 72px;
  color: #f4dda4;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 70px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.circle {
  position: absolute;
  border-radius: 50%;
}

#circle1 {
  position: absolute;
  height: 30px;
  width: 30px;
  right: 25%;
  top: 15%;
  background-color: #d8caa7;
}
#circle2 {
  height: 30px;
  width: 30px;
  right: 40%;
  top: 15%;
  background-color: #f4ead2;
}
#circle3 {
  height: 20px;
  width: 20px;
  right: 36%;
  top: 25%;
  background-color: #f4dda4;
}
#circle4 {
  height: 20px;
  width: 20px;
  right: 32%;
  top: 10%;
  background-color: #d8caa7;
}
#circle5 {
  height: 20px;
  width: 20px;
  right: 20%;
  top: 6%;
  background-color: #f2e1b6;
}
#circle6 {
  height: 10px;
  width: 10px;
  right: 30%;
  top: 32%;
  background-color: #f2e1b6;
}
#circle7 {
  height: 10px;
  width: 10px;
  right: 40%;
  top: 32%;
  background-color: #f2e1b6;
}

/* newsletter section css */
section.newsletter {
  clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0% 100%);
  padding: 1px;
  background: #deb141;
}
section .newsletter-wrapper {
  clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0% 100%);
  background: #fffaef;
  height: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

section.newsletter p {
  max-width: 400px;
  text-align: center;
}

section.newsletter input[type="email"] {
  padding: 5px 10px;
  width: 250px;
  /* background: #515151; */
  border-radius: 5px;
  outline: none;
  border: 1px solid darkgrey;
  color: grey;
}
section.newsletter input[type="email"]:focus {
  color: grey;
}
section.newsletter div {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

section.newsletter button {
  padding: 5px 20px;
  margin: 0 0.5rem;
  background-color: var(--secondary-color);
  border-radius: 2px;
}
/* request form styling */
section.report-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  max-width: 50%;
  align-items: center;
  margin: 2rem auto;
}
section.report-wrapper .report-images > img {
  height: 500px;
  width: auto;
}
section.report-wrapper .report-image1 {
  position: absolute;
  left: -50%;
  height: 500px;
  width: auto;
  overflow: hidden;
}
img.report-image2 {
  width: auto;
  position: absolute;
  right: -50%;
  overflow: hidden;
  bottom: -8%;
  z-index: 1;
}

.report-mobile1,
.report-mobile2 {
  display: none;
}

/* footer styling */
footer {
  padding: 1rem 2rem;
  background: #3e6b64;
}
footer p {
  margin: 0%;
  text-align: center;
  color: white;
}
/* mobile view */
@media screen and (max-width: 768px) {
  .report-image3,
  .report-image1 {
    display: none;
  }

  .report-mobile1,
  .report-mobile2 {
    display: block;
    width: 65%;
  }
  .report-mobile2 {
    display: block;
  }
  img.report-image2 {
    right: 0;
    bottom: -2%;
  }
 
  section.landing {
    /* height: 350px; */
    background: url(../components/project-files/hero-mobile.svg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  h4.landing-text {
    width: unset;
    font-size: 1rem;
    /* margin: 5rem 20%; */
  }
  .reportCaseContainer {
    width: unset;
  }

  p.btn-donate {
    text-align: center;
  }

  section .feature-subsection1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-basis: 100%;
    padding: 1rem;
    padding-bottom: 10rem;
    margin-bottom: 2rem;
  }
  /* .circle {
    display: none;
  } */

  /* Circles -------------------------------- Mobile*/

  #circle1 {
    right: 15%;
    bottom: 25%;
    top: unset;
  }
  #circle2 {
    right: 40%;
    top: unset;
    bottom: 7%;
  }
  #circle3 {
    height: 30px;
    width: 30px;
    right: 55%;
    top: unset;
    bottom: 13%;
  }
  #circle4 {
    height: 45px;
    width: 45px;
    right: 32%;
    top: unset;
    bottom: 14%;
  }
  #circle5 {
    right: 10%;
    top: unset;
    bottom: 17%;
    width: 30px;
    height: 30px;
  }
  #circle6 {
    height: 15px;
    width: 15px;
    right: 20%;
    top: unset;
    bottom: 10%;
  }
  #circle7 {
    height: 15px;
    width: 15px;
    right: 65%;
    top: unset;
    bottom: 7%;
  }

  .featurecard {
    margin: 4rem;
  }
  .feature-subsection1 h2 {
    margin-bottom: 0;
  }
  section.report-wrapper {
    margin: 0;
    grid-template-columns: 1fr;
    max-width: 100%;
  }
}

/* why me hidden */
@media screen and (max-width: 1100px) {
  .feature-subsection2 {
    display: none;
  }
}
